<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editeaza parfumul</title>
</head>
<body>
<div align="center">
    <h1>Editeaza parfumul</h1>
    </br>
    <form action="#" th:action="@{/saveParfum}" th:object="${parfum}" method="post">

        <table border="0" cellpadding="10">

            <tr>
                <td>Parfum Id:</td>
                <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
            </tr>

            <tr>
                <td>Nume parfum:</td>
            <td><input type="text" th:field="*{numeparfum}" /></td>
            </tr>

            <tr>
                <td>Producator:</td>
                <td><input type="text" th:field="*{producator}" /></td>
            </tr>

            <tr>
                <td>An fabricatie:</td>
                <td><input type="number" th:field="*{anfabricatie}" /></td>
            </tr>

            <tr>
                <td>Tara:</td>
                <td><input type="text" th:field="*{tara}" /></td>
            </tr>

            <tr>
                <td>Genul parfumului:</td>
                <td><input type="text" th:field="*{genparfum}" /></td>
            </tr>

            <tr>
                <td>Continut:</td>
                <td><input type="text" th:field="*{continut}" /></td>
            </tr>

            <tr>
                <td>Descriere:</td>
                <td><input type="text" th:field="*{descriere}" /></td>
            </tr>

            <tr>
                <td>Pret:</td>
                <td><input type="number" th:field="*{pret}" /></td>
            </tr>


            <tr>
                <td>Cantitate:</td>
                <td><input type="number" th:field="*{cantitate}" /></td>
            </tr>

            <tr>
                <td>Tip:</td>
                <td><input type="text" th:field="*{tip}" /></td>
            </tr>

            <tr>
                <td>ReviewList:</td>
                <td><input type="text" th:field="*{reviewList}"  readonly="readonly"/></td>
            </tr>

            <tr> <td colspan="2"><button type= "submit">Adauga</button></td></tr>



        </table>


    </form>

</div>
</body>
</html>