<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListParfum</title>
</head>
<body>
<div align="center">

    <div>
            <h1> Lista Parfumuri </h1>
             <a href = "newParfum">Adauga un parfum nou</a>
    </div>


    <div>&nbsp</div>
    <div>
        <form th:action="@{/product_manager}">
            Filter: <input type="text" name="keyword" th:value="${keyword}" required/>
            &nbsp;
            <input type="submit" value="Search"/>
            &nbsp;
            <input type="button" value="Clear" onclick="ClearFilter()"/>
        </form>
    </div>



    <div>&nbsp</div>

    <div>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th> Parfum Id </th>
            <th> Nume Parfum </th>
            <th> Producator </th>
            <th> An fabricatie </th>
            <th> Tara </th>
            <th> Genul parfumului </th>
            <th> Continut </th>
            <th> Descriere </th>
            <th> Pret </th>
            <th> Cantitate </th>
            <th> Tip </th>
            <th> Review-uri </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="parfum: ${listParfum}">
            <td th:text="${parfum.id}">Parfum Id</td>
            <td th:text="${parfum.numeparfum}">Nume parfum</td>
            <td th:text="${parfum.producator}">Producator</td>
            <td th:text="${parfum.anfabricatie}">An fabricatie</td>
            <td th:text="${parfum.tara}">Tara</td>
            <td th:text="${parfum.genparfum}">Genul parfumului</td>
            <td th:text="${parfum.continut}">Continut</td>
            <td th:text="${parfum.descriere}">Descriere</td>
            <td th:text="${parfum.pret}">Pret</td>
            <td th:text="${parfum.cantitate}">Cantitate</td>
            <td th:text="${parfum.tip}">Tip</td>
            <td th:text="${parfum.reviewList}">Review-uri</td>

            <td>
                <a th:href="@{'/editParfum/' + ${parfum.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteParfum/' + ${parfum.id}}">Delete</a>


            </td>

        </tr>
        </tbody>
    </table>
    </div>


</div>

<script type="text/javascript">
    function ClearFilter(){
        window.location='/product_manager';
    }
</script>
</body>
</html>